@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

body{
    font-family: sans-serif;
}


/* navigation---------- */
nav{
    border-bottom: 1px solid rgb(231, 231, 231);
    position: relative;
    padding-top: 20px;
    z-index: 99;
}
.logo{
    width: 100px;
    height: auto;
    position: absolute;
    top:20px;
    left: 20px;
    margin-top: 10px;
}


/* search bar */
.input_container{
    width: 700px;
    height: 50px;
    margin-left: 160px;
    position: relative;
}
.search_bar{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 50px;
    padding-left: 20px;
    font-size: 16px;
}
.search_bar:focus{
    outline: none;
}
#input_logo_times{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:60px;
    color: rgb(160, 160, 160);
   
}
#input_logo_search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color:#4285F4;
}


/* bottom nav */
.bottom_nav{
    height: 55px;
    width: 700px;
    margin-left: 160px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 14px;
    color: gray;
}
.selected{
    border-bottom: 3px solid #4285F4;
    color: #4285F4;
}
.bottom_nav_left{
    display: flex;
}
.bottom_nav_left i{
    margin-right: 5px;
}
.bottom_nav_right{
    display: flex;
    width: 110px;
    height: 40px;
    padding-top: 5px;
    justify-content: space-between;
}
.button:hover{
    border: 1px solid rgb(179, 179, 179);
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 5px 0 rgba(128, 128, 128, 0.151);
}
.nav_item{
    padding:10px;
    cursor: pointer;
}
.nav_item_right{
    cursor: pointer;
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* top right */
.top_right{
    position: absolute;
    display: flex;
    top: 20px;
    right: 25px;
    width: 100px;
    height: 45px;
    justify-content: space-between;
    align-items: center;
}

/* userIcon */
.userIcon{
    background-color: rgb(95, 72, 116);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.userIcon:hover{
    box-shadow: 0 0 0 3px rgba(212, 212, 212, 0.514);
}
/* appIcon */
.icon_container{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon_container:hover{
    background-color: rgba(204, 204, 204, 0.329);
}
.appIcon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 20px;
    height: 20px;
}
.piece_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.piece{
    background-color: rgb(107, 107, 107);
    border-radius: 50%;
    width: 4px;
    height: 4px;
}

/* sticky nav setup */

body.scrolled .bottom_nav{
    display: none;
}
body.scrolled nav{
    position: fixed;
    top:-70px;
    background-color: white;
    width: 100%;
    padding: 8px 0;
    box-shadow: 0 0 20px 10px rgba(128, 128, 128, 0.199);
}
body.scrolled .logo{
    top: 50%;
    transform: translateY(-50%);
    margin-top:0;
}
body.scrolled .top_right{
    top: 50%;
    transform: translateY(-50%);
}


/* search container */
.search_container{
    width: 700px;
    margin-left: 160px; 
}
.result_counter{
    color: gray;
    margin: 10px 0;
}

.top_card{
    border: 1px solid rgb(214, 214, 214);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
}
.card_link{
    margin-top: 20px;;
}

.search_link{
    font-size: 20px;
}
.cached{
    font-size: 14px;
}
.link_gray{
    color: gray;
}

.outside_card{
    position: absolute;
    right: 10px;
    display: flex;
    font-size: 13px;
    bottom: -30px;
    color: gray;
}
.outside_card_link{
    margin: 10px;
}
.outside_card_link a{
    color: gray;
} 


/* search result */
.desc{
    font-size: 16px;
    color:gray;
    margin-bottom: 20px;
}

.ask_card{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 8px;
    margin: 30px 0;
    position: relative;
}
.ask_card_item{
    flex: 1;
    display: flex;
    align-items: center;
    padding:10px 20px;
    border-bottom: 1px solid rgb(214, 214, 214);
    color: rgb(73, 73, 73);
    justify-content: space-between;
}
.ask_card_item:last-of-type{
    border-bottom: none;
}
.card_feedback{
    position: absolute;
    right: 7px;
    bottom: -25px;
    font-style: italic;
    color: gray;
    font-size: 13px;
}



/* footer--------------------------------- */

footer{
    background-color: rgb(235, 235, 235);
    width: 100%;
    bottom: 0;
    border-top: 1px solid rgb(214, 213, 213);
    color: gray;
    height: 80px;
    display: flex;
    flex-direction: column;
}

.footer_top{
    height: 50%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 16px;
}

.footer_bottom{
    height: 50%;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(214, 213, 213);
    justify-content: space-between;
}

.footer_bottom_left ul{
    display: inline-flex;
    list-style-type: none;
}
.footer_bottom_right ul{
    display: inline-flex;
    list-style-type: none;
}

.footer_bottom_left ul li a{
    color:gray;
    margin-left: 20px;
    font-size: 16px;
}

.footer_bottom_right ul li a{
    color: gray;
    margin-left: 20px;
    font-size: 16px;
}
.footer_bottom_left ul li:nth-of-type(1) a{
    margin-left: 0;
}

/* video container */
.videos{
    display: flex;
}

.video_card_container{
    border: 1px solid rgb(214, 214, 214);
    height: 280px;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
    position: relative;
    color: gray;
    margin-right: 20px;
    cursor: pointer;
}
.card_img_container{
  position: relative;
}

.date{
    color: gray;
}

.video_link{
    padding: 10px;
}
.video_card_bottom{
    padding: 10px;
    font-size: 13px;
    position: absolute;
    bottom: 0;
}

.time{
    position: absolute;
    bottom: 8px;
    font-size: 14px;
    left: 8px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    border-radius: 5px;
}
.play_button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 50px;
}

/* related links */
.related_links{
    display: flex;
    width: 100%;   
    margin-top: 10px;
    margin-bottom: 30px;
}
.column{
    display: flex;
    flex-direction: column;
    margin-right: 30px;

}
.column a{
    margin: 5px 0;
}


/* google select page */
.google_select_page{
    display: flex;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Noto Sans TC', sans-serif;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}
.letter_o{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F4B400;
    cursor: pointer;
}
.letter_o a{
    font-size: 15px;
  
    color: #4285F4;
}

.g{
    color: #4285F4;
}
.l{
   color: #0F9D58;
}
.e{
    color:#DB4437;
}
.next{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #4285F4;
}
.next i{
    margin-top: 20px;
}
.next a{
    color: #4285F4;
}

/*  */